//.gitignore file for backend project

# Node modules
node_modules/

# Environment variables & secrets
.env
.env.*
!.env.example
!.env.*.example
*.script.js

# Logs
logs/

# Build output
dist/

# IDE specific files
.vscode/

# OS specific files
.DS_Store

